.box {
  padding: 15px;
  border-radius: 10px;
  background-color: #232323;
  user-select: none;
  transition: background 0.2s ease;
  cursor: pointer;
}

.box:hover {
  background-color: #474747;
  outline: 2px solid #bcbcbc;
}

.box_active {
  outline: none;
  background-color: #dadada;
  color: rgb(33, 33, 33);
}
.box_active:hover {
  background-color: #dadada;
  outline: none;
}

.correct {
  background-color: #026b02;
}

.wrong {
  background-color: #5c0000;
  position: relative;
}

.wrong::before {
  content: "";
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  width: 95%;
  height: 1px;
  background-color: red;
}
